*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #08080b;
    color: #EEF8FF;
    height: 100vh;
}

.heading {
    text-align: center;
    margin: 50px auto;
    font-size: 80px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score {
    margin-bottom: 50px;
    font-size: 32px;
}

.score > p {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.choices {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.computer > h3,
.player > h3 {
    margin-bottom: 40px;
}

.computer p,
.player p{
    margin-bottom: 16px;
}

.btn-container {
    width: 640px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.btn {
    font-size: 28px;
    padding: 16px 32px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: #7D53DE;
    color: #EEF8FF;
    cursor: pointer;
}

.btn:hover {
    background-color: #7d53dec7;
}

.round-result {
    height: 60px;
}

.final-score {
    font-size: 60px;
}

.btn-restart {
    margin-top: 140px;
    display: none;
}